---
import '../index.css';
import Profile from '../components/sections/Profile';
import SkillsCarousel from '../components/SkillCarousel';
import Socials from '../components/Socials';
import Home from '../components/sections/Home';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Matthew Pimblott - Portfolio</title>
</head>
<body>
    <Home />
</body>
</html>
